{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="splash">
    <div class="intro">
       <div class="logo"></div>
       <h2>Bookmarker!</h2>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio nostrum culpa eius quo possimus at velit molestiae expedita, incidunt numquam voluptas corrupti cupiditate dolores voluptatum nisi. Sapiente mollitia commodi illo.</p>
    </div><!--

 --><div class="forms">
        <h2>Register</h2>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="btn">Sign Up</button>
        {{ form_end(registrationForm) }}        
        <p>Already have an account? <a href="/">Login</a></p>

    </div>
</div>

{% endblock %}
