$shamrock_green: #11AB48;

body.theme_shamrock{
    .actions_row{        
        button{
            background: $shamrock_green;
        }
    }

    nav{
        background: $shamrock_green;
        &:before{
            box-shadow: inset 0 0 20px 7px $shamrock_green;
        }

        li.active a {
            color: $shamrock_green;
        }
    }
}