<h2 style="font-size: 42px; padding: 30px 0;">Project TODO List</h2>
<ul>
    <li>
        <strong>Bookmark Looks</strong>
        <ul>
            <li>Finish styling bookmark box or use a new template from dribble</li>
        </ul>
    </li>

    <li>
        <strong>Filter System</strong>
        <ul>
            <li>Write TS for adding a new text filter from input at top</li>
            <li>Setup bookmark favorite on/off from clicking on icon (also in details panel)</li>
            <li>Add turning filters on/off from list</li>
            <li>Add a few popular filters</li>
            <li>Update grid count with amount of bookmarks after filtering</li>
        </ul>
    </li>

    <li>
        <strong>Categories</strong>
        <ul>
            <li>Create "Add Category" page/form</li>
            <li>Show Categories as folder with icons (max of 4) ( see image in reference documents)</li>
            <li>When you click on a catgory folder it opens up into a new grid/section with bookmark style items</li>
            <li>When you click on a catgory folder it opens up into a new grid/section with bookmark style items</li>
        </ul>
    </li>

    <li>
        <strong>Groups</strong>
        <ul>
            <li>Create "Add Group" page/form</li>
            <li>Create a new style for groups item</li>
            <li>Open all bookmarks in a group when clicked.</li>
        </ul>
    </li>

    <li>
        <strong>Bookmark Grid</strong>
        <ul>
            <li>Make bookmark open page when you click it.</li>
            <li>Update grid count with amount bookmarks</li>
            <li>Program sorting using the Sorted By dropdown</li>
        </ul>
    </li>

    <li>
        <strong>Bookmark Details Panel</strong>
        <ul>
            <li>Make panel appear when details icon is clicked on bookmark</li>
            <li>remove full class from middle panels to make room.</li>
            <li>Add bookmark stats to details panel (clicks, date added, date last visited, etc)</li>
            <li>Add Edit button in details panel, links to /bookmark/edit/{id}</li>
            <li></li>
        </ul>
    </li>

</ul>