{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="dashboard">
        <nav>
            <div class="logo"></div>
            <ul>
                <li><a href="/"><i class="fa-solid fa-book-bookmark"></i> Bookmarks</a></li>
                <li class="active"><a href="/categories"><i class="fa-solid fa-folder"></i>Categories</a></li>
                <li><a href="/groups"><i class="fa-solid fa-box-archive"></i>Groups</a></li>
                <li><a href="/stats"><i class="fa-solid fa-chart-column"></i>Stats</a></li>
                <li><a href="/settings"><i class="fa-solid fa-screwdriver-wrench"></i>Settings</a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
            </ul>
        </nav><!--

    --><main>
            <header>
                <div class="middle">
                    <input type="text" class="search" placeholder="Search" />
                    <div class="filters"></div>
                </div><!--
             --><div class="user">
                    <div class="alerts_icon">
                    <i class="fa-regular fa-bell"></i></div>
                    <div class="profile_pic"></div>
                </div>
            </header>
            <div class="grid">
                <div class="topinfo">
                    {% set amount = 125 %}
                    <div class="left">{{ amount }} bookmarks found</div>
                    <div class="right">
                        Sorted By 
                        <select name="bookmark_sort" id="bookmark_sort">
                            <option value="least_clicked">Least Clicked</option>
                            <option value="most_clicked">Most Clicked</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="category">Category</option>
                        </select>
                    </div>
                </div>
            </div><!--
        --><aside></aside>
        </main>
    </div>
{% endblock %}
